.header_part{
    border: solid 1px black;
    width: 100%;
    background-color: #F6F6F6;
}
.logo_container, .header_options{
    width: 45%;
    margin: 0.3% 0.2%;
    padding: 1.5rem 0;
    border: solid 1px black;
    text-align: center;
}
.clearfix:after{
    content: '';
    clear: both;
    display: table;
}
.header_nav{
    padding: 1rem 0rem;
    border: black solid 1px;
    text-align: center;
}
.header_nav>a{
    width: 100%;
} 
.float_left{
    float: left;
}
.float_right{
    float: right;
}