@media only screen and (min-device-width : 920px){
    .header_and_logo *{
        background: none;
    }
    .header_and_logo{
        position: relative;
        background-image: url('../images/desktop/header_bg_desktop.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 789px;
        margin: 0;
        margin-bottom: 20%;

    }
    .header_container{
        margin: auto 10%;
        color: white;
        font-weight: bold;
    }
    .header_top{
        display: inline-block;
    }
    .nav_bar{
        display: inline-block;
        margin-left: 10%;
        padding: 0;
    }
    .nav_items_list{
        display: inline-block;
        padding: 0;
        margin: 0 1rem;
    }
    .nav_items_head{
        font-size: 130%;
    }
    .nav_items_list a{
        text-decoration: none;
        color: #ffffff;
    }
    .nav_items_list:hover, .nav_items_list:active{
        text-decoration: none;
        border-bottom: grey solid 1px;
        background-color: transparent;
        cursor: pointer;
    }
    .header_options{
        display: none;
    }


    /* Frame 1 - here onwards */
    .body_frame_1{
        background-image: none;
        position: absolute;
        top: 1rem;
        left: 0rem;
        width: 100%;

    }
    .frame1_h1{        
        margin:3% 30%;
        font-size: 3.2rem;
        font-weight: bold;
        line-height: 4rem;
        margin-top: 13%;
    }
    .frame1_h4{
        font-size: 1.9rem;
        margin: 0 30%;
        margin-bottom: 2%;
    }
    .btn_display_type{
        display: inline-block;
        color: white;
        margin: 0 2%;
    }
    .blue_fill{
        background-color: #23A6F0;
    }



    /* moto blocks here onward */
    .moto_blocks{
        display: inline-block;
        background-color: white;
        width: 20%;
        margin: 0 1%;
        padding: 1% 1%;
        text-align: left;
        box-shadow: rgba(0, 0, 0, 0.07) 0em 0em 0.1em 0.2em;
    }
    .frame1_container_top{
        padding-top: 0;
    }
    .frame1_container_down{
        text-align: center;
        margin-top: 8%;
    }
    .frame1_dwn_block3{
        background-color: #23A6F0;
        color: white;
    }


    /* Features ahead*/
    .feature_specific{
        display: inline-block;
        width: 20%;
        margin: 0 1%;
        padding: 1% 1%;
    }

    /* Testinomial section ahead */
    .testinomials_container::before{
        content: 'Industry';
        font-size: 2rem;
        margin: 0;
        padding: 0;
        margin-top: 5%;
    }
    .testinomials_upper_body{
        text-align: center;
        margin: 1.4% auto;
    }
    .testinomials_container{
        padding: 0 10%;
        padding-bottom: 10%;
    }
    .testinomial_specific{
        display: inline-block;
        margin: 0 2%;
        padding: 1% 0%;
        width: 25%;
    }
    .review_text{
        padding: 0;
    }

    
    /* Ad-baner and Newsletter here onwards */
    .ad_specific{
        display: inline-block;
        padding-left: 1%;
        padding-right: 1%;
    }
    .ad_baner{
        margin: 0 14%;
        width: 72%;
    }
    .newsletter_container{
        margin: 0 14%;
        width: 72%;
    }
}