.nav_items_head{
    font-size: 300%;
    list-style: none;
 
}
.nav_items_head li{
    text-decoration: none;
    color: #737373;
    margin-top: 1.5rem;
}

.nav_icon{
    margin-right: 2rem;
    width: 2rem;
    height: 2rem;
}

.logo_container{
    font-size: 3em;
    margin-left: 2rem;
}