.nav_items_head{
    font-size: 300%;
    list-style: none; 
}
.nav_items_list{
    padding: 0.8rem;
}
.nav_items_list a{
    text-decoration: none;
    color: #737373;
    width: 100%;
}
.nav_items_list:hover, .nav_items_list:active{
    text-decoration: none;
    background-color: #ece7e7;
    border-bottom: none;
    cursor: pointer;
}
.head_icon{
    margin-right: 1.7rem;
    width: 1.7rem;
    height: 1.7rem;
}

.logo_container{
    font-size: 2em;
    margin-left: 2rem;
    padding: auto 0;
}

.service_bg{
    display:block;
    margin: 0 auto;
    width: 100%;
}
.body_frame_1{
    margin: 0 0;
    position: relative;
    overflow: hidden;
}
.frame1_container{
    width: 100%;
    color: white;
    position: absolute;
    top: 14.5rem;
}
.frame1_h1{
    margin-bottom: 6.5rem;
}
.frame1_h4{
    margin-bottom: 3rem;
}
.frame1_btn{
    border-radius: 1.6rem;
    width: 20rem;
    height: 4rem;
    margin-top: 2%;
    font-size: 3em;
}
.frame1_btn:hover{
    background-color: grey;
}
.blue_fill{
    background-color: #23A6F0;
}
.no_fill{
    background-color: transparent;
    color: white;
    border: white solid 2px;
}