.nav_items_head{
    font-size: 300%;
    list-style: none; 
}
.nav_items_list{
    padding: 0.8rem;
}
.nav_items_list a{
    text-decoration: none;
    color: #737373;
    width: 100%;
}
.nav_items_list:hover, .nav_items_list:active{
    text-decoration: none;
    background-color: #ece7e7;
    border-bottom: none;
}
.head_icon{
    margin-right: 1.7rem;
    width: 1.7rem;
    height: 1.7rem;
}

.logo_container{
    font-size: 2em;
    margin-left: 2rem;
    padding: auto 0;
}